.tittleCarritoCompras{
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.tittleCarritoCompras > h1{
    font-size: 24px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tittleProductListCart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.titleList{
    width: 700px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.titleList :nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 50px;
    width: 50px;
    border-bottom: 1px solid gray;
}
.titleList :nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 50px;
    width: 300px;
    border-bottom: 1px solid gray;
}
.titleList :nth-child(3){
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 50px;
    width: 50px;
    border-bottom: 1px solid gray;
}
.titleList :nth-child(4){
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 50px;
    width: 100px;
    border-bottom: 1px solid gray;
}
.titleList :nth-child(5){
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 50px;
    width: 100px;
    border-bottom: 1px solid gray;
}
.titleList :nth-child(6){
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 50px;
    width: 100px;
    border-bottom: 1px solid gray;
}
.totalPrice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intoPrice{
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
.intoPrice > p{
    font-size: 14px;
    padding-top: 10px;
}
.btn-total{
    color: white;
    font-weight: 700;
    font-size: 14px;
    background-color: black ;
    height: 30px;
    width: 150px;
    border-radius: 15px;
    border: 1px solid black;

}
.wrapper-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
}
.botonera{
    width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.wrapperSeguir{
    color: white;
    font-weight: 700;
    font-size: 14px;
    background-color: black ;
    height: 30px;
    width: 150px;
    border-radius: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}